<!-- Overall Satisfaction -->
<section class="overall-satisfaction hideable">
	<!-- Display overall satisfaction scores if any, else error message -->
	{% if any ([pass_dict.overall_satisfaction_nanos_LY, pass_dict.overall_satisfaction_nanos_TY, pass_dict.overall_satisfaction_old_LY, pass_dict.overall_satisfaction_old_TY]) %}
		<div class="row dashboard-chart">
			<div id="overall-satisfaction-nanos" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="overall-satisfaction-old" class="col-xs-12"></div>
		</div>
	{% else %}
		<h4>{{ _('Apologies, this course has yet to receive any feedback of this type.') }}</h4>
	{% endif %}
</section>

<script defer>
	function createSatisfactionChart(myDiv, title, dataLY, dataTY, label_1, label_2, nanos, min, max) {
		// If the question hasn't received any responses, don't build its chart
		if (!dataLY.length && !dataTY.length) { return; }
		
		// Display Nanos icon if boolean 'nanos' is set
		if (nanos) {
			var titleText = '<h4 class="dashboard-chart-title">' + title + '<br /><span class="nanos-indicator"></span>&nbsp;<span class="nanos-label-chart">Nanos</span>' + '</h4>';
		} else {
			var titleText = '<h4 class="dashboard-chart-title">' + title + '<br /><span class="old-survey-indicator"></span>&nbsp;<span class="nanos-label-chart">{{ _("Previous Survey") }}</span>' + '</h4>';
		}
		
		$(myDiv).highcharts({
			chart: {type: 'line'},
			title: {
				text: titleText,
				useHTML: true,
				align: 'center'
			},
			xAxis: {categories: ["{{ _('April') }}", "{{ _('May') }}", "{{ _('June') }}", 
				"{{ _('July') }}", "{{ _('August') }}", "{{ _('September') }}",
				"{{ _('October') }}", "{{ _('November') }}", "{{ _('December') }}",
				"{{ _('January') }}", "{{ _('February') }}", "{{ _('March') }}"]},
			yAxis: {title: {text: ''}, min: min, max: max},
			tooltip: {
				formatter: function() {
					return " " +
					"{{ _('Monthly Average: ') }}" + this.point.y + '<br />' +
					"{{ _('Number of Responses: ') }}" + this.point.count + '<br />'
				}
			},
			credits: {text: ''},
			series: [
				{name: label_1, data: dataLY},
				{name: label_2, data: dataTY}
			]
		});
	}
	
	// Wrap Highcharts functions so can be called only upon activating parent div
	var overallSatChartsFlag = 0;
	
	// Only attempt to create line charts if data exists
	{% if any ([pass_dict.overall_satisfaction_nanos_LY, pass_dict.overall_satisfaction_nanos_TY, pass_dict.overall_satisfaction_old_LY, pass_dict.overall_satisfaction_old_TY]) %}
		function overallSatClosure() {
			// Nanos
			createSatisfactionChart(
				'#overall-satisfaction-nanos',
				"{{ _('Overall Satisfaction') }}",
				{{ pass_dict.overall_satisfaction_nanos_LY|json_filter | safe }},
				{{ pass_dict.overall_satisfaction_nanos_TY|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}',
				true,
				1,
				10
			);
			// Old survey
			createSatisfactionChart(
				'#overall-satisfaction-old',
				"{{ _('Overall Satisfaction') }}",
				{{ pass_dict.overall_satisfaction_old_LY|json_filter | safe }},
				{{ pass_dict.overall_satisfaction_old_TY|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}',
				false,
				1,
				5
			);
		}
	{% else %}
		function overallSatClosure() {}
	{% endif %}
</script>
