<!-- Categorical Questions -->
<section class="other hideable">
	<!-- Display categorical comments if any, else error message -->
	{% if any ([pass_dict.expectations, pass_dict.recommend, pass_dict.gccampus, pass_dict.videos,
				pass_dict.blogs, pass_dict.forums, pass_dict.job_aids]) %}
		<!-- Highcharts: Pie charts for categorical and yes/no questions -->
		<div class="row dashboard-chart">
			<div id="exceeded-expectations" class="col-xs-12 col-md-6"></div>
			<div id="recommend-to-colleague" class="col-xs-12 col-md-6"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="used-gccampus" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="used-videos" class="col-xs-12 col-md-6"></div>
			<div id="used-blogs" class="col-xs-12 col-md-6"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="used-forums" class="col-xs-12 col-md-6"></div>
			<div id="used-job-aids" class="col-xs-12 col-md-6"></div>
		</div>
	{% else %}
		<h4>{{ _('Apologies, this course has yet to receive any feedback of this type.') }}</h4>
	{% endif %}
</section>

<script defer>
	function createPieChart(myDiv, title, data) {
		$(myDiv).highcharts({
			chart: {type: 'pie'},
			title: {
				text: '<h4 class="dashboard-chart-title">' + title + '<br /><span class="nanos-indicator"></span>&nbsp;<span class="nanos-label-chart">Nanos</span>' + '</h4>',
				useHTML: true,
				align: 'center'
			},
			tooltip: {
				formatter: function() {
					var sliceName = this.key;
					if (sliceName == 'No response') {
						return "{{ _('<strong>Number of Responses:</strong> 0') }}";
					} else {
						return "{{ _('<strong>Number of Responses:</strong> ') }}" + this.y;
					}
				}
			},
			plotOptions: {
				pie: {
					allowPointSelect: true,
					cursor: 'pointer',
					dataLabels: {
						enabled: true,
						// Add space before colon if lang == 'fr'
						{% set lang = 'fr' if request.cookies.get('lang', None) == 'fr' else 'en' %}
						{% if lang == 'fr' %}
							format: '<b>{point.name}</b> : {point.percentage:.0f}%',
						{% else %}
							format: '<b>{point.name}</b>: {point.percentage:.0f}%',
						{% endif %}
						style: {color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'}
					}
				}
			},
			credits: {text: ''},
			series: [{
				name: '',
				colorByPoint: true,
				data: data
			}]
		});
	}
	
	// Wrap Highcharts functions so can be called only upon activating parent div
	var categoricalChartsFlag = 0;
	
	// Only attempt to create pie charts if data exists
	{% if any ([pass_dict.expectations, pass_dict.recommend, pass_dict.gccampus, pass_dict.videos,
				pass_dict.blogs, pass_dict.forums, pass_dict.job_aids]) %}
		function categoricalClosure() {
			createPieChart('#exceeded-expectations', "{{ _('My expectations were') }}", {{ pass_dict.expectations | safe }});
			createPieChart('#recommend-to-colleague', "{{ _('Likelihood of recommending to a colleague') }}", {{ pass_dict.recommend | safe }});
			createPieChart('#used-gccampus', "{{ _('Did you use any tools from GCcampus?') }}", {{ pass_dict.gccampus | safe }});
			createPieChart('#used-videos', "{{ _('Value of videos from GCcampus') }}", {{ pass_dict.videos | safe }});
			createPieChart('#used-blogs', "{{ _('Value of blogs from GCcampus') }}", {{ pass_dict.blogs | safe }});
			createPieChart('#used-forums', "{{ _('Value of forums from GCcampus') }}", {{ pass_dict.forums | safe }});
			createPieChart('#used-job-aids', "{{ _('Value of job aids from GCcampus') }}", {{ pass_dict.job_aids | safe }});
		}
	{% else %}
		function categoricalClosure() {}
	{% endif %}
</script>
