<!-- Ratings -->
<section class="ratings hideable">
	<!-- Display ratings if any, else error message -->
	{% if any ([pass_dict.ratings_LY, pass_dict.ratings_TY]) %}
		<!-- Highcharts: Line charts showing progression of rating per month for
		the last two fiscal years -->
		<div class="row dashboard-chart">
			<div id="satisfaction-detail" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="satisfaction-content" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="satisfaction-language" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="satisfaction-graphics" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="satisfaction-navigation" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="before-and-after-ly" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="before-and-after-ty" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="valuable-time" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="relevant-job" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="performance-job" class="col-xs-12"></div>
		</div>
		<div class="row dashboard-chart">
			<div id="apply-job" class="col-xs-12"></div>
		</div>
	{% else %}
		<h4>{{ _('Apologies, this course has yet to receive any feedback of this type.') }}</h4>
	{% endif %}
</section>

<script defer>
	function createLineChart(myDiv, title, dataLY, dataTY, label_1, label_2) {
		// If the question hasn't received any responses, don't build its chart
		if (!dataLY.length && !dataTY.length) { return; }
		
		$(myDiv).highcharts({
			chart: {type: 'line'},
			title: {
				text: '<h4 class="dashboard-chart-title">' + title + '<br /><span class="nanos-indicator"></span>&nbsp;<span class="nanos-label-chart">Nanos</span>' + '</h4>',
				useHTML: true,
				align: 'center'
			},
			xAxis: {categories: ["{{ _('April') }}", "{{ _('May') }}", "{{ _('June') }}", 
						 "{{ _('July') }}", "{{ _('August') }}", "{{ _('September') }}",
						 "{{ _('October') }}", "{{ _('November') }}", "{{ _('December') }}",
						 "{{ _('January') }}", "{{ _('February') }}", "{{ _('March') }}"]},
			yAxis: {title: {text: ''}, min: 1, max: 10},
			tooltip: {
				formatter: function() {
					return " " +
					"{{ _('Monthly Average: ') }}" + this.point.y + '<br />' +
					"{{ _('Number of Responses: ') }}" + this.point.count + '<br />'
				}
			},
			credits: {text: ''},
			series: [
				{name: label_1, data: dataLY},
				{name: label_2, data: dataTY}
			]
		});
	}
	
	// Wrap Highcharts functions so can be called only upon activating parent div
	var ratingsChartsFlag = 0;
	
	// Only attempt to create line charts if data exists
	{% if any ([pass_dict.ratings_LY, pass_dict.ratings_TY]) %}
		function ratingsClosure() {
			createLineChart(
				'#satisfaction-detail',
				"{{ _('Satisfaction - Level of detail of the content') }}",
				{{ pass_dict.ratings_LY.get('3. Satisfaction - Level of detail of the content', [])|json_filter | safe }},
				{{ pass_dict.ratings_TY.get('3. Satisfaction - Level of detail of the content', [])|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}'
			);
			createLineChart(
				'#satisfaction-content',
				"{{ _('Satisfaction - Quality of the content') }}",
				{{ pass_dict.ratings_LY.get('4. Satisfaction - Quality of the content', [])|json_filter | safe }},
				{{ pass_dict.ratings_TY.get('4. Satisfaction - Quality of the content', [])|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}'
			);
			createLineChart(
				'#satisfaction-language',
				"{{ _('Satisfaction - Language quality of the materials') }}",
				{{ pass_dict.ratings_LY.get('5. Satisfaction - Language quality of the materials (English or French)', [])|json_filter | safe }},
				{{ pass_dict.ratings_TY.get('5. Satisfaction - Language quality of the materials (English or French)', [])|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}'
			);
			createLineChart(
				'#satisfaction-graphics',
				"{{ _('Satisfaction - Quality of the graphics') }}",
				{{ pass_dict.ratings_LY.get('6. Satisfaction - Quality of the graphics', [])|json_filter | safe }},
				{{ pass_dict.ratings_TY.get('6. Satisfaction - Quality of the graphics', [])|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}'
			);
			createLineChart(
				'#satisfaction-navigation',
				"{{ _('Satisfaction - Ease of navigation') }}",
				{{ pass_dict.ratings_LY.get('7. Satisfaction  Ease of navigation', [])|json_filter | safe }},
				{{ pass_dict.ratings_TY.get('7. Satisfaction  Ease of navigation', [])|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}'
			);
			createLineChart(
				'#before-and-after-ly',
				"{{ _('My knowledge of the subject matter') }}, {{ LAST_YEAR }}",
				{{ pass_dict.ratings_LY.get('10. Before this learning activity', [])|json_filter | safe }},
				{{ pass_dict.ratings_LY.get('11. After this learning activity', [])|json_filter | safe }},
				"{{ _('Before the learning activity') }}",
				"{{ _('After the learning activity') }}"
			);
			createLineChart(
				'#before-and-after-ty',
				"{{ _('My knowledge of the subject matter') }}, {{ THIS_YEAR }}",
				{{ pass_dict.ratings_TY.get('10. Before this learning activity', [])|json_filter | safe }},
				{{ pass_dict.ratings_TY.get('11. After this learning activity', [])|json_filter | safe }},
				"{{ _('Before the learning activity') }}",
				"{{ _('After the learning activity') }}"
			);
			createLineChart(
				'#valuable-time',
				"{{ _('Valuable use of my time') }}",
				{{ pass_dict.ratings_LY.get('20. This learning activity is a valuable use of my time', [])|json_filter | safe }},
				{{ pass_dict.ratings_TY.get('20. This learning activity is a valuable use of my time', [])|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}'
			);
			createLineChart(
				'#relevant-job',
				"{{ _('Relevant to my job') }}",
				{{ pass_dict.ratings_LY.get('21. This learning activity is relevant to my job', [])|json_filter | safe }},
				{{ pass_dict.ratings_TY.get('21. This learning activity is relevant to my job', [])|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}'
			);
			createLineChart(
				'#performance-job',
				"{{ _('Will contribute to my performance on the job') }}",
				{{ pass_dict.ratings_LY.get('22. This learning activity is contributing to my performance on the job', [])|json_filter | safe }},
				{{ pass_dict.ratings_TY.get('22. This learning activity is contributing to my performance on the job', [])|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}'
			);
			createLineChart(
				'#apply-job',
				"{{ _('I can apply what I have learned on the job') }}",
				{{ pass_dict.ratings_LY.get('23. I can apply what I have learned on the job', [])|json_filter | safe }},
				{{ pass_dict.ratings_TY.get('23. I can apply what I have learned on the job', [])|json_filter | safe }},
				'{{ LAST_YEAR }}',
				'{{ THIS_YEAR }}'
			);
		}
	{% else %}
		function ratingsClosure() {}
	{% endif %}
</script>
