{% extends 'layout.html' %}

{% block head %}
	<!-- Highcharts -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<!-- Highcharts drilldown -->
	<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	<!-- DataTables -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock head %}

{% block body %}
	<div class="container">
		<!-- Tabs -->
		<ul class="nav nav-tabs nav-justified">
			<!-- General -->
			<li class="main-tab active"><a href="#general">{{ _('General') }}</a></li>
			
			<!-- Dashboards dropdown -->
			<li class="main-tab dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					{{ _('Dashboards') }}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#dashboard" data-class="learner-dash">{{ _('Learners') }}</a></li>
					{% if pass_dict.business_type == 'Instructor-Led' %}
						<li><a href="#dashboard" data-class="offering-dash">{{ _('Offerings') }}</a></li>
					{% endif %}
				</ul>
			</li>
			
			<!-- Maps dropdown -->
			<li class="main-tab dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					{{ _('Maps') }}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#geodata" data-class="learner-map">{{ _('Learners') }}</a></li>
					{% if pass_dict.business_type == 'Instructor-Led' %}
						<li><a href="#geodata" data-class="offering-map">{{ _('Offerings') }}</a></li>
					{% endif %}
				</ul>
			</li>
			
			<!-- Comments dropdown -->
			<li class="main-tab dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					{{ _('Comments') }}
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					{% if pass_dict.business_type == 'Instructor-Led' %}
						<li><a href="#comments" data-class="improvement-comments">{{ _('Improvement') }}</a></li>
						<li><a href="#comments" data-class="instructor-comments">{{ _('Instructor') }}</a></li>
						<li><a href="#comments" data-class="general-comments">{{ _('Overall') }}</a></li>
					{% else %}
						<li><a href="#comments" data-class="improvement-comments">{{ _('Improvement') }}</a></li>
						<li><a href="#comments" data-class="general-comments">{{ _('Overall') }}</a></li>
						<li><a href="#comments" data-class="technical-comments">{{ _('Technical') }}</a></li>
					{% endif %}
					
					<!-- Line break to separate free text from other kinds of feedback -->
					<hr class="dropdown-menu-hr" />
					
					<li><a href="#comments" data-class="other">{{ _('Categorical') }}</a></li>
					<li><a href="#comments" data-class="overall-satisfaction">{{ _('Overall Satisfaction') }}</a></li>
					<li><a href="#comments" data-class="ratings">{{ _('Ratings') }}</a></li>
				</ul>
			</li>
			
			<!-- Schedule -->
			<!-- Display only for Instructor-Led courses -->
			{% if pass_dict.business_type == 'Instructor-Led' %}
				<li class="main-tab"><a href="#schedule">{{ _('Schedule') }}</a></li>
			{% endif %}
		</ul>
		
		<!-- Import custom macro for adding 'Download raw data' button -->
		{% from "includes/_formhelpers.html" import download_raw %}
		
		<!-- Tabs' contents -->
		<!-- General -->
		<section id="general" class="main-section active">
			{% include 'course-page/general.html' %}
			<p class="download-raw-outer">
				{{ download_raw(url_for('downloads.download_general', course_code=pass_dict.course_code), _('Download raw data')) }}
			</p>
		</section>
		
		<!-- Dashboards -->
		<section id="dashboard" class="main-section hide">
			{% include 'course-page/dashboards/dashboards-main.html' %}
		</section>
		
		<!-- Maps -->
		<section id="geodata" class="main-section hide">
			<!-- Dashboard and Maps tabs built from same table -->
			{% include 'course-page/geodata.html' %}
		</section>
		
		<!-- Comments -->
		<section id="comments" class="main-section hide">
			{% include 'course-page/comments/comments-main.html' %}
			<p class="download-raw-outer">
				{{ download_raw(url_for('downloads.download_comments', course_code=pass_dict.course_code), _('Download raw comments')) }}
				{{ download_raw(url_for('downloads.download_ratings', course_code=pass_dict.course_code), _('Download raw ratings')) }}
			</p>
		</section>
		
		<!-- Schedule -->
		<!-- Display only for Instructor-Led courses -->
		{% if pass_dict.business_type == 'Instructor-Led' %}
			<section id="schedule" class="main-section hide">
				{% include 'course-page/schedule.html' %}
				<p class="download-raw-outer">
					{{ download_raw(url_for('downloads.download_schedule', course_code=pass_dict.course_code), _('Download raw data')) }}
				</p>
			</section>
		{% endif %}
	</div>
	
	<script defer>
		// Set font for Highcharts
		Highcharts.setOptions({chart: {style: {fontFamily: 'Helvetica'}}});
		
		// For tabs' on click, show / hide appropriate sections
		$('.nav-tabs li a').not('.dropdown-toggle').click(function(e) {
			e.preventDefault();
			
			// Hide all active sections
			$('.main-section, .main-tab').removeClass('active');
			$('.main-section').addClass('hide');
			
			// Show section whose tab was just clicked
			var new_section = $(this).attr('href');
			$(new_section).removeClass('hide').addClass('active');
			$(this).parents('li.main-tab').addClass('active'); // Appearance of tab in navbar
			
			// If applicable, show specific class within section and hide others
			// Class name stored in attr 'data-class'
			var show_class = $(this).attr('data-class');
			if (show_class) {
				// Hide all irrelevant divs
				$('.hideable').hide();
				$('.' + show_class).show();
			}
			
			/* IE11 bug: Create charts only after their parent div is activated,
			else problems with width and drilldown functionality */
			if (show_class === 'offering-dash' && !offeringsChartsFlag) {
				offeringsClosure();
				offeringsChartsFlag++;
			}
			if (show_class === 'learner-dash' && !learnersChartsFlag) {
				learnersClosure();
				learnersChartsFlag++;
			}
			if (show_class === 'other' && !categoricalChartsFlag) {
				categoricalClosure();
				categoricalChartsFlag++;
			}
			if (show_class === 'overall-satisfaction' && !overallSatChartsFlag) {
				overallSatClosure();
				overallSatChartsFlag++;
			}
			if (show_class === 'ratings' && !ratingsChartsFlag) {
				ratingsClosure();
				ratingsChartsFlag++;
			}
		});
	</script>
{% endblock body %}
