<h1>{{ pass_dict.course_title }}</h1>

<div id="schedule-tab">
	<table class="schedule-legend">
		<thead>
			<tr>
				<td colspan="2">
					<h3>
						{{ pass_dict.offerings_scheduled|length }} {{ _('Offerings Created in') if pass_dict.offerings_scheduled|length != 1 else _('Offering Created in') }} {{ THIS_YEAR }} {{ _('and 2020-21') }}
					</h3>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="col-xs-1"><div class="color-swatch swatch-danger"></div></td>
				<td class="col-xs-11">{{ _('Offerings that have been cancelled.') }}</td>
			</tr>
			<tr>
				<td class="col-xs-1"><div class="color-swatch swatch-warning"></div></td>
				<td class="col-xs-11">{{ _('Offerings taking place in the next 30 days with fewer than 10 confirmed registrations.') }}</td>
			</tr>
			<tr>
				<td class="col-xs-1"><div class="color-swatch swatch-success"></div></td>
				<td class="col-xs-11">{{ _('Offerings with more than 10 confirmed registrations and / or that are more than 30 days away.') }}</td>
			</tr>
			<tr>
				<td class="col-xs-1"><div class="color-swatch swatch-past"></div></td>
				<td class="col-xs-11">{{ _('Offerings that have already taken place.') }}</td>
			</tr>
		</tbody>
	</table>
	
	<table id="sortable" class="table schedule-content">
		<thead>
			<tr>
				<th>{{ _('ID') }}</th>
				<th>{{ _('Start Date') }}</th>
				<th>{{ _('End Date') }}</th>
				<th>{{ _('Location') }}</th>
				<th>{{ _('Language') }}</th>
				<th>{{ _('Instructor(s)') }}</th>
				<th class="text-center">{{ _('Confirmed') }}</th>
				<th class="text-center">{{ _('Waitlisted') }}</th>
				<th class="text-center">{{ _('Cancelled') }}</th>
				<th class="text-center">{{ _('No-Shows') }}</th>
				<th class="text-right">{{ _('Client') }}</th>
			</tr>
		</thead>
		<tbody>
			<!-- If dict item is empty string, replace with hyphen to prevent table row from
			collapsing to half-height -->
			{% for dict_ in pass_dict.offerings_scheduled %}
				<tr style="background-color: {{ dict_['color'] }}">
					<td data-title="{{ _('ID') }}">{{ dict_['offering_id'] or '-' }}</td>
					<td data-title="{{ _('Start Date') }}">{{ dict_['start_date'] or '-' }}</td>
					<td data-title="{{ _('End Date') }}">{{ dict_['end_date'] or '-' }}</td>
					<td data-title="{{ _('Location') }}">{{ dict_['offering_city'] }}, {{ dict_['offering_province'] }}</td>
					<td data-title="{{ _('Language') }}">{{ dict_['offering_language'] or '-' }}</td>
					<td data-title="{{ _('Instructor(s)') }}">{{ dict_['instructor_names'] or '-' }}</td>
					<td class="text-center" data-title="{{ _('Confirmed') }}">{{ dict_['confirmed_count'] or '-' }}</td>
					<td class="text-center" data-title="{{ _('Waitlisted') }}">{{ dict_['waitlisted_count'] or '-' }}</td>
					<td class="text-center" data-title="{{ _('Cancelled') }}">{{ dict_['cancelled_count'] or '-' }}</td>
					<td class="text-center" data-title="{{ _('No-Shows') }}">{{ dict_['no_show_count'] or '-' }}</td>
					<td class="text-right" data-title="{{ _('Client') }}">{{ dict_['client'] or '-' }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<script defer>
		// Make table sortable
		// Sort by start date; disable all extraneous features
		$('#sortable').DataTable({
			autoWidth: true,
			info: false,
			language: {
				emptyTable: "{{ _('No offerings created this fiscal year.') }}"
			},
			order: [
				[1, 'desc']
			],
			paging: false,
			scrollX: false,
			searching: false,
			serverSide: false,
			stateSave: false
		});
	</script>
	
</div>
